<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/styles/main.css">
		<title>Viet Food Guru</title>
	</head>
	<body>
		{{> navbar}}

		<div class="container-fluid" id="option-wrapper">
			<div class="intro-header" id="common-section">
				<div class="row">
					<div class="col-sm-12">
						<div class="title">
							<h1>15 Best Vietnamese Dishes</h1>
							<hr class="intro-divider">
							<button type="button" class="btn btn-danger choice_button" id="first_option">Top Dishes</button>
							<br>
							<br>
							<h1 class="down"><a href="#random-section"><span class="glyphicon glyphicon-menu-down" style="float: none; color: white"></span></a></h1>
						</div>
					</div>
				</div>
			</div>
			
			<div class="intro-header2" id="random-section">
				<div class="row">
					<div class="col-sm-12">
						<div class="title">
							<h1>Are You Still Deciding?</h1>
							<hr class="intro-divider">
							<button type="button" class="btn btn-danger" id="random">Click Me</button>
							<br>
							<br>
							<h1 class="down"><a href="#guru-section"><span class="glyphicon glyphicon-menu-down" style="float: none; color: white"></span></a></h1>
						</div>
					</div>
				</div>
			</div>
		
			<div class="intro-header3" id="guru-section">
				<div class="row">
					<div class="col-sm-12">
						<div class="title">
							<h1>You Really Need to See Me</h1>
							<hr class="intro-divider">
							<button type="button" class="btn btn-danger" id="favorite">Let's Talk</button>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end option-wrapper	 -->

		<div class="container-fluid text-center" id="dish-holder" hidden>
			<!-- <div id="picsHolder1"> -->
				<br>
				<div class="pull-right">
					<div class="close-panel close_dish_holder">
						<div class="lr">
		          <div class="rl">
		          </div>
		        </div>
		      </div>
				</div>
				<br>
				<br>
				<h2>15 Best Vietnamese Dishes</h2>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://a9.vietbao.vn/images/vn999/130/2014/11/20141126-10-loai-nhan-banh-mi-yeu-thich-cua-nguoi-sai-gon-8.jpg" id="banh_mi" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Banh Mi</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://www.meatlovessalt.com/wp-content/uploads/2013/04/IMG_8958_630.jpg" id="pho" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Pho</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://bunthitnuonganhba.vn/uploads/images/21.bunthitnuong.jpg" class="thumbnail-pic img-responsive" id="bun_thit_nuong">
									<div class="caption">
										<p>Bun Thit Nuong</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://2.bp.blogspot.com/-qQcA8EUnxgs/Us4-zPqKNrI/AAAAAAAAAf4/1AGalm-AkBE/s1600/_MG_8350-2.jpg" id="banh_xeo" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Banh Xeo</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://l.f13.img.vnecdn.net/2013/08/09/bk-3-1376010510_500x0.jpg" id="bo_kho" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Bo Kho</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://farm4.static.flickr.com/3486/3800220934_9d53d52644_o.jpg" id="bo_luc_lac" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Bo Luc Lac</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://farm8.staticflickr.com/7457/9132698028_f54d5bcf96.jpg" id="bun_bo_hue" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Bun Bo Hue</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://chuyengiaamthuc.com/wp-content/uploads/2015/06/cach-nau-bun-rieu-cua-15.jpg" id="bun_rieu" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Bun Rieu</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://d1v827hezncazj.cloudfront.net/wp-content/uploads/egg-rolls-final.jpg" id="cha_gio" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Cha Gio</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://www.thedeliciouslife.com/wp-content/uploads/2012/12/nong-la-cafe-vietnamese-summer-roll.jpg" class="thumbnail-pic img-responsive" id="goi_cuon">
									<div class="caption">
										<p>Goi Cuon</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="https://cdn.menu.me/image-assets/152/52942/image.jpg" class="thumbnail-pic img-responsive" id="goi_du_du">
									<div class="caption">
										<p>Goi Du Du</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://kinhdoanhnhahang.vn/wp-content/uploads/2014/12/lap-ke-hoach-mo-quan-hu-tieu-nam-vang-1.jpg" id="hu_tieu_nam_vang" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Hu Tiu Nam Vang</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://a9.vietbao.vn/images/vn905/Am_Thuc/50916343_cam-tam-2.jpg" id="com_tam_bi_suon_cha" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Com Bi Suon Bi Cha</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://www.platetrotter.com/uploads/1/0/2/3/10238271/5887719_orig.jpg" id="cafe_sua_da" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Cafe Sua Da</p>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-4">
								<div class="thumbnail">
									<img src="http://www.hanoitourist.com.vn/english/images/Anhbaiviet/Bai_viet_hang_ngay/Am_thuc/che_ba_mau_2.jpg" id="che_ba_mau" class="thumbnail-pic img-responsive">
									<div class="caption">
										<p>Che Ba Mau</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 text-center">
								<button type="button" class="close_dish_holder" style="margin-bottom: 15px">Close</button>
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</div> <!-- end of dish-holder -->
		
		<div class="container-fluid" id="result" hidden>
			<br>
			<div class="pull-right">
				<div class="close-panel close_result">
					<div class="lr">
	          <div class="rl">
	          </div>
	        </div>
	      </div>
			</div>
			<div class="row" id="description_map">
				<div class="col-sm-6" id="foodDescription">
					<script id="description-template" type="text/x-handlebars-template">
						<h3>\{{dish.name}} - \{{dish.english}}</h3>
						<img src="\{{dish.image}}" class="img-responsive" style="width: 400px">
						<br>
						<p>\{{dish.description}} <i>(\{{dish.source}})</i></p>
					</script>
				</div>
				<div class="col-sm-6 map-holder">
					<div id="map"></div>
				</div>
			</div>
			<br>
			<br>
			<div id="restaurantList">
				<div class="row" >
					<div class="col-sm-10 col-sm-offset-1">
						<div class="row">
							<script id="restaurant-template" type="text/x-handlebars-template">
								{{#if user}}
									\{{#each restaurants}}
										<div class="col-xs-6 col-md-6">
											<div class="thumbnail restaurant-thumbnail" style="min-height: 236px">
												<h4>\{{name}}</h4>
												<p>\{{location.display_address.[0]}}</p>
												<p>\{{location.display_address.[1]}}</p>
												<p>Tel: \{{display_phone}}</p>
												<button type="button" class="chosen" id="\{{name}}">Save</button>
												<hr>
											</div>
										</div>
									\{{/each}}
								{{else}}
									\{{#each restaurants}}
										<div class="col-xs-6 col-md-6">
											<div class="thumbnail restaurant-thumbnail" style="min-height: 190px">
												<h4>\{{name}}</h4>
												<p><img src="\{{rating_img_url}}" class="pull-left"></p>
												</br>
												<p>\{{location.display_address.[0]}}</p>
												<p>\{{location.display_address.[1]}}</p>
												<p>Tel: \{{display_phone}}</p>
											</div>
										</div>
									\{{/each}}
								{{/if}}
							</script>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end of result -->
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 text-center" style="height: 100%" id="reminder" hidden>
					<img src="/images/egg_roll.jpg" class="img-responsive" id="bonAppetit-img">
					<div class="text-center" id="msg">
						<h2>Please Write a Review after Your Visit</h2>
						<button type="button" class="ok" style="margin-bottom: 15px">Back</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container" id="answerMe" hidden>
			<br>
			<div class="pull-right">
				<div class="close-panel close_guru_option">
					<div class="lr">
	          <div class="rl">
	          </div>
	        </div>
	      </div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<img src='/images/guru.png' class='img-responsive guru-question'>
			<br>
			<div class="text-center" id="question-holder">
				<!-- questions will be append here -->
			</div>
		</div>

		<!-- jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- bootstrap js -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- handlebars -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
		<!-- google maps -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLW53XqF9lI7UwwQkhzZBdBSG91Ywvyb8" type="text/javascript"></script>
		<!-- custom script -->
		<script type="text/javascript" src="/scripts/main.js"></script>
		<script type="text/javascript" src="/scripts/helperFunctions.js"></script>
	</body>
</html>