<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="main.css">

		<title>Document</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="navbar navbar-inverse" role="navigation">
      	<div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">VietFoodGuru</a>
	        </div>
	        <div class="navbar-collapse collapse navbar-right">
	          <ul class="nav navbar-nav">
	          	{{#if user}}
	          		<li><a href="/profile">Hello {{user.username}}</a></li>
		            <li><a href="/">Home</a></li>
		            <li><a href="/review">Reviews</a></li>
		            <li><a href="/logout">Logout</a></li>
		          {{else }}
		          	<li><a href="/">Home</a></li>
		          	<li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		          	<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		          {{/if}}
	          </ul>
	        </div>
      	</div>
    	</div> 

			<div class="container">
				<div class="row text-center">
					<div class="col-sm-4">
						<button type="button" class="btn btn-danger options" id="top">Top Dishes</button>
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn btn-danger options" id="random">Random Dish</button>
					</div>
					<div class="col-sm-4">
						<button type="button" class="btn btn-danger options" id="favorite">Guru's Favorite</button>
					</div>
				</div>
			</div>
			

			<div class="container" id="commonDishes" hidden>
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="btn-group btn-input clearfix" id="choices">
									<button type="button" class="btn btn-block btn-default dropdown-toggle form-control" data-toggle="dropdown">
									<span data-bind="label">15 Common Vietnamse Dishes</span>&nbsp;<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" id="dropdown-list">
										<!-- items will be appended from main.js		 -->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="result" hidden>
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div id="foodDescription">
								<script id="description-template" type="text/x-handlebars-template">
									<h3>\{{dish.name}} - \{{dish.english}}</h3>
									<img src="\{{dish.image}}" class="img-responsive" style="width: 300px">
									<br>
									<p>\{{dish.description}} <i>(\{{dish.source}})</i></p>
								</script>
							</div>
						</div>
						<div class="col-sm-6">
							<div id="map"></div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1">
							<div class="row">
								<div id="restaurantList">
									<script id="restaurant-template" type="text/x-handlebars-template">
										<div class="col-sm-6">
												\{{#each lefts}}
													<h4>\{{name}}</h4>
													<p>\{{location.display_address.[0]}}</p>
													<p>\{{location.display_address.[2]}}</p>
													<p>Tel: \{{display_phone}}</p>
													<hr>
												\{{/each}}
										</div>
										<div class="col-sm-6">
													\{{#each rights}}
													<h4>\{{name}}</h4>
													<p>\{{location.display_address.[0]}}</p>
													<p>\{{location.display_address.[2]}}</p>
													<p>Tel: \{{display_phone}}</p>
													<hr>
												\{{/each}}
										</div>
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container" id="answerMe" hidden>
				<div class="row">
					<div class="col-sm-4 text-center">
						<img src="guru.png" class="img-responsive">
						<button type="button" class="btn btn-danger" id="clickAnswer">Click to Answer</button>
					</div>

					<div class="col-sm-8">
						<div class="text-center" id="question-holder">
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- <div class="container" hidden>
			<div class="input-group stylish-input-group">
				<input type="text" class="form-control"  placeholder="Search" >
				<span class="input-group-addon">
					<button type="submit">
					<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div> -->

		<!-- jquery -->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	  <!-- bootstrap js -->
	  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	  <!-- handlebars -->
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

	  <!-- google maps -->
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLW53XqF9lI7UwwQkhzZBdBSG91Ywvyb8" type="text/javascript"></script>

	  <!-- custom script -->
	  <script type="text/javascript" src="main.js"></script>
	</body>
</html>