<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lora:400,700italic' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/styles/main.css">
		<link type="text/css" rel="stylesheet" href="/styles/profile.css">

		<title>Reviews</title>
	</head>
	<body>
		{{> navbar}}
		<div class="container text-center">
			<h1>Hello, {{user.username}}!</h1>
		</div>
		<div class="container" id="visitedPlace-list">
			{{#if user.reviews}}
				{{#each user.reviews}}
					<div class="row">
						<div class="col-sm-12">
							<h3>{{business}}</h3>
							<h4>{{address1}}</h4>
							<h4>{{address2}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5">
							<p><i>Visisted on {{dateVisited}}</i></p>
						</div>
						<div class="col-sm-7">
							<h4 style="float: left">{{thought}}</h4>
							<button type="button" class="btn btn-default pull-right edit-button" aria-label="Left Align" id="{{_id}}" style="float: right">
								<span class="glyphicon glyphicon-edit glyphicon-align-left" aria-hidden="true"></span>
							</button>
							<form id="edit-form" hidden>
								<input type="hidden" name="address1" class="form-control" value="{{address1}}" style="height: 50px">
								<input type="hidden" name="address2" class="form-control" value="{{address2}}" style="height: 50px">
								<input type="hidden" name="written" class="form-control" value="true" style="height: 50px">
								<input type="hidden" name="business" class="form-control" value="{{business}}" style="height: 50px">
								<input type="hidden" name="dateVisited" class="form-control" value="{{dateVisited}}" style="height: 50px">
								<input type="text" name="thought" class="form-control" style="height: 50px" placeholder="Please write your review" required>
								<button class="btn btn-lg btn-default" type="submit" style="height: 50px">Edit</button>
							</form>
						</div>
					</div>
					<hr>
				{{/each}}
			{{else}}
				<h3 class="text-center">You haven't went to any recommended restaurant.</h3>
			{{/if}}
		</div>

		<!-- jquery -->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	  <!-- bootstrap js -->
	  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	  <!-- handlebars -->
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

	  <!-- google maps -->
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLW53XqF9lI7UwwQkhzZBdBSG91Ywvyb8" type="text/javascript"></script>

	  <!-- custom script -->
	  <script type="text/javascript" src="scripts/profile.js"></script>
	</body>
</html>