<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Knewave' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Merriweather:700' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/styles/main.css">
		<link type="text/css" rel="stylesheet" href="/styles/reviews.css">

		<title>Reviews</title>
	</head>
	<body>
		{{> navbar}}
		<div class="container text-center header">
			<h1><b>Places Our Members Went</b></h1>
		</div>
		<div class="container" id="review-list">
			<script id="review-template" type="text/x-handlebars-template">
				\{{#each reviews}}
					<div class="row review_holder">
						<div class="col-sm-12">
							<h3>\{{business}}</h3>
							<h4>\{{address1}}</h4>
							<h4>\{{address2}}</h4>
						</div>
					
						<div class="col-sm-4">
							<p><i>\{{author.username}} visisted here on \{{dateVisited}}</i></p>
						</div>
						<div class="col-sm-8">
							\{{#if written}}
							<h4 class="reviews">\{{thought}}</h4>
							\{{/if}}
						</div>
						<hr>
					</div>
				\{{/each}}
			</script>
		</div>

		<!-- jquery -->
	  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

	  <!-- bootstrap js -->
	  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	  <!-- handlebars -->
	  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

	  <!-- google maps -->
	  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLW53XqF9lI7UwwQkhzZBdBSG91Ywvyb8" type="text/javascript"></script>

	  <!-- custom script -->
	  <script type="text/javascript" src="/scripts/allreviews.js"></script>
	</body>
</html>